{##
 * View file used to contain header content of theme pages
 *
 * @package WordPress
 * @subpackage MizzouMVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Andrea Chappelear
 * @copyright 2015 Curators of the University of Missouri
 *
 * Will need
 *  - <title> contents: strHeadTitle
 *  - template location: see objSite below
 *  - site option for tracking code: see objSite below
 *  - blog url: see objSite below
 *  - blog name: see objSite below
 *  - navigation menus: see objSite below
 *  - contents of wp_head: strWpHeaderContents
 *  - whether or not to include <meta> robots: boolIncludeNoIndex
 *
 *  objSite contains
 *  -> CopyrightYear (also accessible as strCopyrightYear)
 *  -> Name (also accessible as strSiteName)
 *  -> URL (also accessible as strSiteURL)
 *  -> ParentThemeURL (also accessible as strParentThemeURL)
 *  -> ChildThemeURL (also accessible as strChildThemeURL)
 *  -> ActiveStylesheet (also accessible as strActiveStylesheet)
 *  -> ActiveThemeURL (also accessible as strActiveThemeURL)
 *  -> TrackingCode (also accessible as strTrackingCode)
 *  -> PrimaryMenu (also accessible as strPrimaryMenu)
 *  -> AudienceMenu (also accessible as strAudienceMenu)
 *  -> LastModifiedDate (also accessible as strModifiedDate)
 *
 *
 * @todo Shouldnt tracking code be moved into the theme options and then accessed via objTheme object?
##}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <title>{{ HeadTitle }}</title>

    {% if IncludeNoIndex %}
    <meta name="ROBOTS" content="NOINDEX,NOARCHIVE">
    {% endif %}

    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

	<!-- Favicon -->
	<link href="{{ Site.ActiveThemeURL }}images/icons/favicon.ico" rel="icon"/>

	<!-- Apple Touch Icons -->
	<link href="{{ Site.ActiveThemeURL }}images/icons/apple-touch-icon.png" rel="apple-touch-icon-precomposed"/>
    <meta content="CELL" name="apple-mobile-web-app-title"/>

	<!-- Microsoft Windows 8+ Tiles -->
    <meta content="CELL" name="application-name"/>
    <meta content="{{ Site.ActiveThemeURL }}images/icons/microsoft-pinned-site.png" name="msapplication-TileImage"/>
    <meta content="#343434" name="msapplication-TileColor"/>

    {{ wpHead | raw}}

    <!-- CSS -->
    <!--[if gt IE 7]><!--><link href="{{ objSite.ActiveThemeURL }}css/styles.css" rel="stylesheet"/><!--<![endif]-->
    <!--[if IE 8]><link href="{{ Site.ActiveThemeURL }}css/ie.css" rel="stylesheet" /><![endif]-->
    <!--[if lte IE 7]><link href="{{ Site.ActiveThemeURL }}css/text-only.css" rel="stylesheet" /><![endif]-->

    <!-- Javascript -->
    <!--[if gt IE 7]><!--><script src="{{ Site.ActiveThemeURL }}js/iep-min.js" type="text/javascript"></script><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{ Site.ActiveThemeURL }}js/html5shiv-printshiv.min.js"></script><![endif]-->

</head>

<body>

    <div class="offset">
        <a id="offset-1" href="#nav" tabindex="1">Skip to navigation</a>
	    <a id="offset-2" href="#skip-to-content" tabindex="2">Skip to content</a>
    </div>

    <div class="header-layer">
        <header class="header" role="banner">

            <div class="mizzou-brand">
                <p class="logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
                <h1><a href="{{ Site.URL }}">{{ Site.Name }}</a></h1>
                <h2><a href="http://missouri.edu">University of Missouri</a></h2>
            </div>

            <div class="tactical">
        		{% include 'searchform.twig' %}
            </div>

        </header>
    </div>

    {% if Menu.Primary is not empty %}
    <div class="nav-layer" id="nav" tabindex="-1" role="navigation">
        <nav class="nav">
            {{ Menu.Primary }}
        </nav>
    </div>
    {% endif %}