{#
 * 
 * 
 * @package WordPress
 * @subpackage Wordpress MVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Web Communications, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
    <form class="search-form" action="{{ objSite.URL }}/search/" method="get" role="search">
        <div class="search-container">
            <input class="search-field" name="q" type="text" onfocus="this.value=''" value="{{ SearchTerms | e }}" title="Search {{ objSite.Name }}"/>
            <input class="search-button" name="sa" type="submit" value="Search" title="Submit Search"/>
            {% for SearchName, SearchParameter in objSite.search_parameters %}
            <input name="{{ SearchName }}" type="hidden" value="{{ SearchParameter | e }}" />
            {% endfor %}
        </div>
    </form>